<div id="<%= dom_id entry %>">


<header class="card-header ">
  <h1 class ="card-header-title" >
    <strong>Meal type:  </strong>
    <%= entry.meal_type %>  ||  <%= entry.category.title if entry.category.present? %>
  </h1>
</header>

<div class ="card-content">
<div class ="content">
  <p>
    <strong>Calories:</strong>
    <%= entry.calories %>
  </p>

  <p>
    <strong> Grams of proteins:</strong>
    <%= entry.proteins %>
  </p>

  <p>
    <strong> Grams of Carbohydrates:</strong>
    <%= entry.carbohydrates %>
  </p>

  <p>
    <strong> Grams of Fat:</strong>
    <%= entry.fats %>
  </p>


  <p class ="italic" >
    <strong> Logged at : </strong>
   <%= time_ago_in_words(entry.created_at) %> ago </p>

   <div class="card-footer">

 <p>
     <%= link_to "Show this entry", entry , class: "card-footer-item" %>
    </p>
</div>
 </div>
 </div>


</div>
